
[submodule "tflite-micro"]
	path = tflite-micro
	url = https://github.com/iti-luebeck/tflite-micro-rvv.git
	branch = feature/rvv_optimized
[submodule "k230_sdk"]
	path = k230_sdk
	url = https://github.com/kendryte/k230_sdk.git
